<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css"
      integrity="sha512-C8Movfk6DU/H5PzarG0+Dv9MA9IZzvmQpO/3cIlGIflmtY3vIud07myMu4M/NTPJl8jmZtt/4mC9bAioMZBBdA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/cart.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/order.css">
    <link rel="stylesheet" href="./css/product_detail.css">
    <link rel="stylesheet" href="./css/product_list.css">
    <link rel="stylesheet" href="./css/sign_up.css">
    <link rel="stylesheet" href="./css/sign_in_up.css">
    <title>Cập nhật tài khoản</title>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header>
        <!-- Logo -->
        <div class="logo">
          <a href="">
            <img src="../view/img/logo-web.png" alt="" />
          </a>
        </div>
        <!-- Navbar -->
        <nav class="navbar">
          <ul>
            <li><a href="">Trang chủ</a></li>
            <li>
              <a href=""
                >Áo đá bóng <i class="fa-solid fa-chevron-down"></i></i
              ></a>
              <ul class="subnav">
                <li><a href="">Áo Manchester United</a></li>
                <li><a href="">Áo Manchester City</a></li>
                <li><a href="">Áo Liverpool</a></li>
                <li><a href="">Áo Chelsea</a></li>
                <li><a href="">Áo Paris Saint-Germain</a></li>
                <li><a href="">Áo Tottenham</a></li>
                <li><a href="">Áo Real Madrid</a></li>
                <li><a href="">Áo Barcelona</a></li>
              </ul>
            </li  >
            <li>
              <a href=""
                >Phụ kiện thể thao <i class="fa-solid fa-chevron-down"></i></i
              ></a>
              <ul class="subnav">
                <li><a href="">Giày đá bóng</a></li>
                <li><a href="">Găng tay bắt bóng</a></li>
                <li><a href="">Tất thể thao</a></li>
              </ul>
            </li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Đăng nhập Admin</a></li>
          </ul>
        </nav>
        <!-- Search, Cart, Login -->
        <div class="nav-right">
          <form action="" method="post">
            <input
              class="search-input"
              type="text"
              placeholder="Nhập tên sản phẩm"
            />
            <button class="search-button" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
          <div class="cart">
            <a href="">
              <i class="fa-solid fa-cart-shopping cart-icon"><span>99</span></i>
            </a>
          </div>
          <div class="account">
            <div class="account-title">
              <i class="fa-solid fa-user"></i>
              <span>Tài khoản</span>
            </div>
              <div class="account-option">
                <a href="">Đăng nhập</a>
                <a href="">Đăng ký</a>
                <!-- <a href="">Chỉnh sửa tài khoản</a> -->
                <a href="">Đăng xuất</a>
              </div>
          </div>
        </div>
      </header>

      <div class="sign-in-container">
        <form action="" class="sign-in-content update-account-content" method="post">
            <h1 style="text-align: center;">CẬP NHẬT TÀI KHOẢN</h1><br>
            <label for="update-name">Tên tài khoản</label>
            <input id="update-name" type="text" name="" placeholder="Nhập vào tên tài khoản..."><br>
            <label for="update-email">Email</label>
            <input id="update-email" type="email" name="" placeholder="Nhập vào email..."><br>
            <label for="update-address">Địa chỉ</label>
            <input id="update-address" type="text" name="" placeholder="Nhập vào địa chỉ..."><br>
            <label for="update-phone">Số điện thoại</label>
            <input id="update-phone" type="number" name="" placeholder="Nhập vào số điện thoại..."><br>
            <label for="update-password">Mật khẩu</label>
            <input id="update-password" type="password" name="" placeholder="Nhập vào mật khẩu..."><br>
            <label for="update-repassword">Xác nhận lại mật khẩu</label>
            <input id="update-repassword" type="password" name="" placeholder="Xác nhận lại mật khẩu"><br>
            <button type="submit" class="sign-in-submit">Cập nhật tài khoản</button>
        </form>
      </div>
      <footer>
        <div class="footer-top">
          <div class="contact-info">
            <h3 class="footer-title-margin">THÔNG TIN LIÊN HỆ</h3>
            <div class="info">
              <p><i style="color: #fff;" class="fa-solid fa-location-dot icon-margin-right"></i>  123 Street, Old Trafford, NewYork, USA</p>
              <p><i style="color: #fff;" class="fa-regular fa-envelope icon-margin-right"></i>  info@sitename.com</p>
              <p><i style="color: #fff;" class="fa-solid fa-phone icon-margin-right"></i> + 457 789 789 65</p>
            </div>
            <div class="social-list">
              <a href=""><img src="./img/fblogo.png" alt="" /></a>
              <a href=""><img src="./img/instalogo.png" alt="" /></a>
              <a href=""><img src="./img/gmaillogo.png" alt="" /></a>
              <a href=""><img src="./img/tiktoklogo.png" alt="" /></a>
              <a href=""><img src="./img/twlogo.png" alt="" /></a>
            </div>
          </div>

          <div class="menu-footer">
            <h3 class="footer-title-margin">MENU</h3>
            <div class="footer-menu-wapper">
              <a href="">Trang chủ</a>
              <a href="">Áo đá bóng</a>
              <a href="">Phụ kiện thể thao</a>
              <a href="">Giới thiệu</a>
              <a href="">Liên hệ</a>
            </div>
          </div>

          <div class="service-footer">
            <h3 class="footer-title-margin">DỊCH VỤ</h3>
            <div class="footer-menu-wapper">
              <p>Miễn phí giao hàng</p>
              <p>Chính sách hoàn tiền</p>
              <p>Hỗ trợ 24/7</p>
              <p>Bảo mật thanh toán</p>
            </div>
          </div>

          <div class="endow">
            <h3 class="footer-title-margin">NHẬP EMAIL ĐỂ NHẬN NHIỀU ƯU ĐÃI</h3>
            <p style="word-wrap: break-word;">
              Nếu bạn muốn nhận email từ chúng tôi mỗi khi chúng tôi có ưu đãi
              đặc biệt mới, hãy đăng ký tại đây!
            </p>
            <form action="">
              <input type="email" required placeholder="Nhập email của bạn vào đây"/>
              <button type="submit"> <i style="color: #fff;" class="fa-solid fa-envelope-open-text"></i></button>
            </form>
          </div>
        </div>
        <div class="footer-bottom">
          <p>© 2023 All Rights Reserved by Goup 2</p>
        </div>
      </footer>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(".banner").owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1500,
        navSpeed: 1500,
        dotsSpeed: 1500,
        // autoplayHoverPause: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 1,
          },
          1000: {
            items: 1,
          },
        },
      });

      $(".top-10").owlCarousel({
        loop: true,
        margin: 30,
        nav: true,
        dots: false,
        navText: ["<i class='fa-solid fa-arrow-left'></i>","<i class='fa-solid fa-arrow-right'></i>"],
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 5,
          },
        },
      });

      $(".slide-products").owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        dots: false,
        autoplay: true,
        autoplayTimeout: 5000,
        // autoplayHoverPause: true,
        autoplaySpeed: 1000,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 6,
          },
        },
      });

      $(".slide-logo").owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        dots: false,
        autoplay: true,
        autoplayTimeout: 5000,
        // autoplayHoverPause: true,
        autoplaySpeed: 1000,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 8,
          },
        },
      });
    </script>
    <script src="./javascript/pagination.js"></script>
    <script src="./javascript/rangeFilter.js"></script>
    <script src="./javascript/in-decrease-detail.js"></script>
    <script src="./javascript/in-decrease.js"></script>
    <script src="./javascript/register.js"></script>
  </body>
</html>