<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css"
    integrity="sha512-C8Movfk6DU/H5PzarG0+Dv9MA9IZzvmQpO/3cIlGIflmtY3vIud07myMu4M/NTPJl8jmZtt/4mC9bAioMZBBdA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/shape-circle.css' rel='stylesheet'>
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="./css/login.css" />
  <link rel="stylesheet" href="./css/product_detail.css" />
  <link rel="stylesheet" href="./css/product_list.css" />
  <link rel="stylesheet" href="./css/order.css" />
  <link rel="stylesheet" href="./css/cart.css" />
  <title>Dự án 1</title>
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header>
      <!-- Logo -->
      <div class="logo">
        <a href="">
          <img src="../view/img/logo-web.png" alt="" />
        </a>
      </div>
      <!-- Navbar -->
      <nav class="navbar">
        <ul>
          <li><a href="">Trang chủ</a></li>
          <li>
            <a href="">Áo đá bóng <i class="fa-solid fa-chevron-down"></i></i></a>
            <ul class="subnav">
              <li><a href="">Áo Manchester United</a></li>
              <li><a href="">Áo Manchester City</a></li>
              <li><a href="">Áo Liverpool</a></li>
              <li><a href="">Áo Chelsea</a></li>
              <li><a href="">Áo Paris Saint-Germain</a></li>
              <li><a href="">Áo Tottenham</a></li>
              <li><a href="">Áo Real Madrid</a></li>
              <li><a href="">Áo Barcelona</a></li>
            </ul>
          </li>
          <li>
            <a href="">Phụ kiện thể thao <i class="fa-solid fa-chevron-down"></i></i></a>
            <ul class="subnav">
              <li><a href="">Giày đá bóng</a></li>
              <li><a href="">Găng tay bắt bóng</a></li>
              <li><a href="">Tất thể thao</a></li>
            </ul>
          </li>
          <li><a href="">Giới thiệu</a></li>
          <li><a href="">Liên hệ</a></li>
          <li><a href="">Đăng nhập Admin</a></li>
        </ul>
      </nav>
      <!-- Search, Cart, Login -->
      <div class="nav-right">
        <form action="" method="post">
          <input class="search-input" type="text" placeholder="Nhập tên sản phẩm" />
          <button class="search-button" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <div class="cart">
          <a href="">
            <i class="fa-solid fa-cart-shopping cart-icon"><span>99</span></i>
          </a>
        </div>
        <div class="account">
          <div class="account-title">
            <i class="fa-solid fa-user"></i>
            <span>Tài khoản</span>
          </div>
          <div class="account-option">
            <a href="">Đăng nhập</a>
            <a href="">Đăng ký</a>
            <a href="">Đăng xuất</a>
          </div>
        </div>
      </div>
    </header>

    <div class="view-cart">
      <div class="view-cart-left">
        <div class="order-progress">
            <div class="progress-dot">
                <span class="dot dot-line-active"></span>
                <span class="dot-name">Giỏ hàng</span>
            </div>
            <div class="progress-line dot-line-active"></div>
            <div class="progress-dot">
                <span class="dot dot-line-active"></span>
                <span class="dot-name">Đặt hàng</span>
            </div>
            <div class="progress-line"></div>
            <div class="progress-dot">
                <span class="dot"></span>
                <span class="dot-name">Thanh toán</span>
            </div>
            <div class="progress-line"></div>
            <div class="progress-dot">
                <span class="dot"></span>
                <span class="dot-name">Hoàn thành đơn</span>
            </div>
        </div>
        <div class="cart-content">
          <div class="cart-content1">
            <h2 class="cart-content-title">Thông tin người nhận</h2>
            <form action="" class="infomation">
              <label for="">Tên người nhận</label><br>
              <input type="text" placeholder="Nhập vào tên người nhận..."><br><br>
              <label for="">SĐT người nhận</label><br>
              <input type="number" placeholder="Nhập vào SĐT người nhận..."><br><br>
              <label for="">Địa chỉ người nhận</label><br>
              <input type="text" placeholder="Nhập vào địa chỉ người nhận..."><br><br>
              <label for="">Email người nhận</label><br>
              <input type="text" placeholder="Nhập vào email người nhận..."><br><br>
              <button type="submit">Xác nhận</button>
            </form>
          </div>
          <div class="cart-content2">
            <h2 class="cart-content-title">Phương thức giao hàng</h2>
            <div class="express"><i class="fa-solid fa-circle-check"></i> Chuyển phát nhanh</div>
            <div class="pay">
              <h2 class="pttt">Phương thức thanh toán</h2>
              <div class="content">
                <div class="hihi">
                  <span class="content-name"> Mọi giao dịch đều được bảo mật và mã hóa.Thông tin thẻ tín dụng sẽ không
                    bao giờ được lưu lại.</span>
                </div>
                <p class="free-ship"><i class="fa-solid fa-circle-check"></i> Thanh toán khi nhận hàng </p>
                <p class="free-ship unclickable"><i class="gg-shape-circle unclickable"></i> Thanh toán bằng thẻ tín dụng 
                 <img class="visa" src="img/visa.png" alt="">
                 <img class="mater" src="img/mater.png" alt=""></p>
                <p class="free-ship unclickable"><i class="gg-shape-circle unclickable"></i> Thanh toán bằng thẻ ATM
                 
                </p>
                <p class="free-ship unclickable"><i class="gg-shape-circle unclickable"></i> Thanh toán bằng Momo <img class="momo" src="img/MoMo_Logo.png" alt=""></p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="view-cart-right">
        <div class="cart-total">
          <h2 class="cart-total-title">Tóm tắt đơn hàng</h2>
          <div class="cart-total-info">
            <div class="info-wapper">
              <span class="info-name">Tổng sản phẩm</span> <span class="info-number">4</span>
            </div>
            <div class="info-wapper">
              <span class="info-name">Tổng tiền hàng</span> <span class="info-number">1.200.000 VNĐ</span>
            </div>
            <div class="info-wapper">
              <span class="info-name">Thành tiền</span> <span class="info-number">1.000.000 VNĐ</span>
            </div>
            <div class="info-wapper">
              <span class="info-name">Phí vận chuyển</span> <span class="info-number">0 VNĐ</span>
            </div>
            <p class="no-ship"><i class="fa-solid fa-triangle-exclamation"></i> Miễn phí ship với đơn hàng trên 500.000
              VNĐ</p>
            <p class="free-ship"><i class="fa-solid fa-circle-check"></i> Đơn hàng của bạn được miễn phí ship</p>
            <form action="" class="submit-total-cart">
              <input type="hidden" name="">
              <input type="submit" class="submit-btn" value="Hoàn Thành">
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-top">
        <div class="contact-info">
          <h3 class="footer-title-margin">THÔNG TIN LIÊN HỆ</h3>
          <div class="info">
            <p><i style="color: #fff;" class="fa-solid fa-location-dot icon-margin-right"></i> 123 Street, Old Trafford,
              NewYork, USA</p>
            <p><i style="color: #fff;" class="fa-regular fa-envelope icon-margin-right"></i> info@sitename.com</p>
            <p><i style="color: #fff;" class="fa-solid fa-phone icon-margin-right"></i> + 457 789 789 65</p>
          </div>
          <div class="social-list">
            <a href=""><img src="./img/fblogo.png" alt="" /></a>
            <a href=""><img src="./img/instalogo.png" alt="" /></a>
            <a href=""><img src="./img/gmaillogo.png" alt="" /></a>
            <a href=""><img src="./img/tiktoklogo.png" alt="" /></a>
            <a href=""><img src="./img/twlogo.png" alt="" /></a>
          </div>
        </div>

        <div class="menu-footer">
          <h3 class="footer-title-margin">MENU</h3>
          <div class="footer-menu-wapper">
            <a href="">Trang chủ</a>
            <a href="">Áo đá bóng</a>
            <a href="">Phụ kiện thể thao</a>
            <a href="">Giới thiệu</a>
            <a href="">Liên hệ</a>
          </div>
        </div>

        <div class="service-footer">
          <h3 class="footer-title-margin">DỊCH VỤ</h3>
          <div class="footer-menu-wapper">
            <p>Miễn phí giao hàng</p>
            <p>Chính sách hoàn tiền</p>
            <p>Hỗ trợ 24/7</p>
            <p>Bảo mật thanh toán</p>
          </div>
        </div>

        <div class="endow">
          <h3 class="footer-title-margin">NHẬP EMAIL ĐỂ NHẬN NHIỀU ƯU ĐÃI</h3>
          <p style="word-wrap: break-word;">
            Nếu bạn muốn nhận email từ chúng tôi mỗi khi chúng tôi có ưu đãi
            đặc biệt mới, hãy đăng ký tại đây!
          </p>
          <form action="">
            <input type="email" required placeholder="Nhập email của bạn vào đây" />
            <button type="submit"> <i style="color: #fff;" class="fa-solid fa-envelope-open-text"></i></button>
          </form>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2023 All Rights Reserved by Goup 2</p>
      </div>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(".banner").owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1500,
      navSpeed: 1500,
      dotsSpeed: 1500,
      // autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 1,
        },
        1000: {
          items: 1,
        },
      },
    });

    $(".top-10").owlCarousel({
      loop: true,
      margin: 30,
      nav: true,
      dots: false,
      navText: ["<i class='fa-solid fa-arrow-left'></i>", "<i class='fa-solid fa-arrow-right'></i>"],
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 3,
        },
        1000: {
          items: 5,
        },
      },
    });

    $(".slide-products").owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      dots: false,
      autoplay: true,
      autoplayTimeout: 5000,
      // autoplayHoverPause: true,
      autoplaySpeed: 1000,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 3,
        },
        1000: {
          items: 6,
        },
      },
    });

    $(".slide-logo").owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      dots: false,
      autoplay: true,
      autoplayTimeout: 5000,
      // autoplayHoverPause: true,
      autoplaySpeed: 1000,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 3,
        },
        1000: {
          items: 8,
        },
      },
    });
  </script>
  <script src="./javascript/pagination.js"></script>
  <script src="./javascript/rangeFilter.js"></script>
  <script src="./javascript/in-decrease.js"></script>
</body>

</html>
